/* Background */
body {
  background: linear-gradient(135deg, #ff9a9e, #fad0c4);
  color: #4a004a;
  font-family: 'Poppins', sans-serif;
  margin: 0;
  text-align: center;
}

/* Center Screen */
.center-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Trusted Contacts Button */
.trusted-box a {
  padding: 10px 20px;
  background: white;
  border-radius: 20px;
  text-decoration: none;
  font-weight: bold;
  margin-bottom: 25px;
  display: inline-block;
}

/* BIG GLOWING SOS BUTTON */
.sos-btn {
  background: red;
  color: white;
  width: 170px;
  height: 170px;
  border-radius: 50%;
  border: none;
  font-size: 35px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 0 20px red;
  animation: pulse 1.3s infinite;
}

.fake-call {
  background: linear-gradient(45deg, #ff416c, #ff4b2b);
}

/* Voice SOS Button */
.voice-sos {
  background: linear-gradient(45deg, #1d976c, #93f9b9);
}

/* Hover Effect */
.sos-btn:hover {
  transform: scale(1.1);
  box-shadow: 0 10px 25px rgba(0,0,0,0.4);
}
/* Hover Zoom */
.sos-btn:hover {
  transform: scale(1.15);
}

/* Glow Animation */
@keyframes pulse {
  0% { box-shadow: 0 0 10px red; }
  50% { box-shadow: 0 0 60px red; }
  100% { box-shadow: 0 0 10px red; }
}
/* Contact Inputs */
.contact-input {
  padding: 12px;
  margin: 8px;
  border-radius: 10px;
  border: none;
  width: 220px;
  font-size: 16px;
}

/* Contact List Style */
#contactList li {
  background: white;
  padding: 8px;
  margin: 5px;
  border-radius: 10px;
  list-style: none;
  font-weight: bold;
}
/* Big Action Buttons */
.action-btn {
  padding: 18px 50px;
  font-size: 22px;
  font-weight: bold;
  border: none;
  border-radius: 15px;
  margin: 10px;
  color: white;
  cursor: pointer;
  box-shadow: 0 8px 20px rgba(0,0,0,0.3);
  transition: 0.3s ease;
}

/* Fake Call Button Style */
.fake-call {
  background: linear-gradient(45deg, #ff416c, #ff4b2b);
}

/* Voice SOS Button Style */
.voice-sos {
  background: linear-gradient(45deg, #1d976c, #00b09b);
}

/* Hover Effect */
.action-btn:hover {
  transform: scale(1.12);
  box-shadow: 0 12px 30px rgba(0,0,0,0.4);
}